.DS_Store
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
*.venv
venv/
env/
ENV/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.ipynb_checkpoints/
anaconda_projects/
